# docker-compose kittygram
# version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    depends_on:
      db:
        condition: service_completed_successfully
    image: samirumir/kittygram_backend
    env_file: .env
    volumes:
      - static:/static
      - media:/media

  frontend:
    image: samirumir/kittygram_frontend
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  gateway:
    depends_on:
      - backend: 
        condition: service_completed_successfully
      - frontend:
        condition: service_completed_successfully
    image: samirumir/kittygram_gateway
    env_file: .env
    ports:
      - 8080:80
    volumes:
      - static:/static
      - media:/media
